.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: grey;
  display: grid;
  padding: 0.5rem 2rem;
  grid-template-columns: 3fr 1fr 1fr 1fr;
}
.footer img {
  width: 35%;
  height: 40%;
}

@media (max-width: 500px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0.8rem;
  }
}
